
form {
    width:25%;
    border: 1px solid rgb(243, 107, 107);
    margin:60px;
    padding:20px;
    font-style: italic;
}
label {
    font-size:20px;
    display:block;
    width:100%;
}
input, textarea {
    margin-bottom:20px;
    width:100%;
    padding:10px;
    box-sizing:border-box;
    border:1px solid#ccc;
}
input:focus, textarea:focus {
    border:1px solid#1668C4;
}